* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    border: 2px solid green;

    background-color: rgb(48, 13, 240);

    min-height: 100vh;
    display: flex;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
}

.agenda {
    border: 2px solid blue;
}

.agenda header h1 {
    background-color: rgb(8, 227, 143);
    color: rgb(255, 255, 255);
    padding: 20px;
}

.agenda-table {
    border: 2px solid red;
    min-height: calc(100% - 77px);
    min-width: 100%
}

.agenda-table thead tr th {
    border: 2px solid purple;
    background-color: rgb(255, 247, 232);
    padding: 10px;

    font-size: 20px;
}

.agenda-table tbody {
    border: 100px solid red;
}