body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: Arial, sans-serif;
    background: #00ffd5;
}

.app {
    width: 320px;
    min-height: 600px;
    margin: 20px auto;
    background: white;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
}

.escondido {
    display: none;
}

header h1, header h2, header p {
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    cursor: pointer;
}

#lista-dias button {
    margin: 0;
}

#lista-dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

#lista-dias button {
    margin: 0;
}

.dia-com-evento {
    background: #d9f0ff;
}

.horario {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 4px;
    font-size: 14px;
}

.evento {
    margin-top: 5px;
    padding: 5px;
    background: #f4f4f4;
    border-left: 4px solid #666;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
}